.Sidebar::-webkit-scrollbar {
    display: none;
}

.Sidebar {
    /* position: fixed;
    top: 0;
    left: 0; */
    height: 100%;
    background: white;
    box-shadow: 0 0 2px 0 gray;
    overflow-x: hidden;
    overflow-y: scroll;

    .sidebar-category.head {
        background: rgb(255, 255, 255);
        height: 200px;
        color: black;
        box-shadow: 0 2px 3px 0 whitesmoke;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .greeting {
            font-size: .9em;
            font-weight: 300;
        }

        .tag {
            border-radius: 30px;
            padding: .8em 3em;
            font-size: .9em;
            display: inline-block;
            background: rgba(134, 24, 224, 0.247);
            font-weight: 500;
            color: rgb(134, 24, 224);

        }

    }


    .sidebar-category {
        width: auto;
        display: block;
        list-style: none;
        flex-direction: column;
        padding: .8em;

        h3 {
            font-size: 1.3em;
        }

        li {
            width: auto;
            display: block;
            padding: 0;


            a {
                text-decoration: none;
                color: dimgray;
                display: flex;
                gap: 1em;
                align-items: center;
                width: auto;
                height: auto;
                padding: .8em 7em .8em 1em;
                border-radius: 10px;
            }


        }
    }

    .active {

        color: rgb(255, 255, 255) !important;
        background: rgb(134, 24, 224);

    }

}